html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {

  margin: 0px;
  -webkit-text-size-adjust: 100%;

  background-color: #dcdcdc;
}
#particles-js{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  top: 0;
  left: 0;

}


.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

}
.map {
position: sticky;
top: 0;
  width: 100%;
  background-color: black;
  z-index: 50;
}



.bus-stop-container {
     display: flex;
     flex-direction: column;
align-items: center;
}
.bus-stop-text {
  color: #888;
  margin: 10px 0;
position: relative;
padding-bottom: 100px;
}
.bus-stop {
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 80px;
background-color: #000d2b;
color: white;
font-size: 30px;
border-radius: 40px;
margin: 10px 0;
position: relative;
}

.line-front {
width: 6px;
height: 50px;
margin: 0;
position: relative;
}
.line {
width: 6px;
height: 80px;
background-color: #555;
margin: 0;
position: relative;
}
.line-tail {
width: 6px;
height: 50px;
background:linear-gradient( #555 15%, #FFFFFF00 100%);
margin: 0;
position: relative;
}
.travel-time {
position: absolute;
font-size: 12px;
background-color: #fff;
padding: 2px 8px;
border-radius: 12px;
border: 1px solid #ccc;
top: 50%;
transform: translateY(-50%);
}

/* 矢印のスタイル */
.arrow {
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
/*animationプロパティここから*/
animation-name: tenmetsu;
animation-duration: 1s;
animation-direction: alternate;
animation-iteration-count: infinite;
}
@keyframes tenmetsu {
0% {
opacity: 1;
}
100% {
opacity: 0.4;
}
}

/* 上り・B行き（上向き矢印） */
.arrow.up {
color: #4CAF50;
}

/* 下り・A行き（下向き矢印） */
.arrow.down {
color: #008CBA;
}

.travel-time.up {
right: -175px;
}

.travel-time.down {
left: -175px;
}


.img1 {
  -webkit-user-drag: none;
  -moz-user-select: none;
  margin: none;
  max-width: 100%;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: 0 0 5px #cecece;
border-radius: 20px 20px 0px 0px; /* 左上・右上・右下・左下 */
}
.img2{
  -webkit-user-drag: none;
  -moz-user-select: none;
  margin: none;
  max-width: 100%;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: 0 0 5px #cecece;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size:0.6rem;
  padding: 0.25rem;
    color: #444;

}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: 0.5s 1.5s ;
  background: linear-gradient( #001545 15%, #000d2b 100%);
  display: flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100vw;
  max-width:100vh ;
  height: 100vh;
  max-height: 100vw;
  margin: 0;
  box-shadow: none;
  animation: sk-scaleout 0.4s ;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(2.0);
  } 
  10% {
    transform: scale(2.0);
  } 
  100% {
    transform: scale(1.0);
  }
}
 
.loaded {
  opacity: 0;
  visibility: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-block;
}
.footer-box {
  display: inline-block;
  width: 100%;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  background-color: #000d2b;
height: auto;
}
.marquee {
  white-space: nowrap;
  position: relative;
  width: 100%;
  color: #000d2b ;
  background:linear-gradient( #FFFFFF00 0%, #fff 100%);
}

.marquee span {
  display: inline-block;
  font-weight:500;
}
.marquee img{
  width:45px;
  padding-left: 45px;
  padding-right: 5px;
  vertical-align: bottom;
}
.marquee img:hover  {
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }

  25% {
      transform: translateY(-20px);
      animation-timing-function: ease-in;
  }

  50% {
      transform: translateY(0);
  }

  75% {
      transform: translateY(-10px);
      animation-timing-function: ease-in;
  }

  100% {
      transform: translateY(0);
  }
}
.text-tooltip {
  color: #fff;
  border-bottom: dotted 1px #fff;
  position: relative;
  cursor: pointer;
}

.tooltip-content {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s ease-in-out;
}
  
.tooltip-content:before {
  content: '';
  position: absolute;
  top: 20px;
  left: calc(50% - 9px);
  border: 9px solid transparent;
  border-top: 9px solid #555;
}
  
.text-tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}

#overlay {

  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 150, 136, 0.8); /* 背景色 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-out, height 0.5s ease-out;

}

#overlay.active {
  width: 200vw; /* 画面全体を覆うための大きさ */
  height: 200vh;
}
