@font-face {
    font-family: "KBS-Disp-JP";
    font-style: normal;
    src: url("./KBS-Disp-JP.woff") format("woff");
    font-display: swap;
  }

  html, body {
    height: 100%;
    font-family: "KBS-Disp-JP", sans-serif;
  }

  body {
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    background-color: black;
  }

  .container-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .separate-box {
    max-width: 1920px;
    width: 100%;
    min-height: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
  }

  .common-row0 {
   



    height: 9%;
    float: left;
    display: block;
    width: 100%;
    color: #000;
    font-size: 5.5vmin;
    overflow: hidden;
    background: linear-gradient( #fff 49%, #dcdcdc 90%, #004da0 90%, #004da0 95%, #d7092f 95%);
    text-shadow: 1px 2px 2px #555;
  }

  .common-row1 {
    height: 6%;
    float: left;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 4.5vmin;
    overflow: hidden;
    background: #001545;
    text-shadow: 1px 2px 2px #000;
  }

  .common-row2 {
    height: 11%;
    float: left;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 8vmin;
    background: linear-gradient( #001545 15%, #000d2b 100%);
    overflow: hidden;
    border-bottom: solid 0.8vmin #4c556a;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-shadow: 1px 2px 2px #000;
  }

  .common-row3 {
    height: 6%;
    float: left;
    width: 100%;
    color: #ffc800;
    display: flex;
    align-items: center;
    font-size: 4.5vmin;
    overflow: hidden;
    position: relative;
  }
  .title-box {
    height: 100%;
    float: left;
    width: 80%;
    display: flex;
    align-items: center;
  }

  .time-box {
    height: 100%;
    float: right;
    width: 20%;
    display: inline-grid;
    align-items: center;
    text-align: right;
  }
  .box-left-type {
    color: #fff;
    height: 100%;
    float: left;
    width: 60%;
    display: flex;
    align-items: center;
  }

  .box-left-time {
    color: #fff;
    height: 100%;
    float: left;
    width: 20%;
    display: flex;
    align-items: center;
  }

  .box-left-dist {
    color: #fff;
    height: 100%;
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
  }

  .box-left-info {
    color: #fff;
    height: 100%;
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
  }


  .box-right-remark {
    background: none;
    height: 100%;
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .info_marquee {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    width: 400vw;
    text-align: left;
    overflow: hidden;
    animation: info_marquee 40s linear infinite;
  }

  .remark_marquee {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    width: 100vw;
    text-align: left;
    overflow: hidden;
    animation: remark_marquee 10s linear infinite;
  }

  .auto_narrow {
  margin:0 2vmin 0 2vmin;
}

  @keyframes remark_marquee {
    0% {
      left: 100%;
    }
    100% {
      left: -100vw;
    }
  }

  @keyframes info_marquee {
    0% {
      left: 100%;
    }
    100% {
      left: -400vw;
    }
  }



  .blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect;
    /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
  }
  /* for Safari 4.0 - 8.0 */

  @-webkit-keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes condemned_blink_effect {
    50%, 100% {
      opacity: 1;
    }
    0%, 40% {
      opacity: 0;
    }
  }
  /*文字色：赤*/

  .str_red {
    color: red;
  }
  /*文字色：オレンジ*/

  .str_orange {
    color: #ffc800;
  }
  /*文字色：緑*/

  .str_green {
    color: #00ff00;
  }
  /*文字色：黒、背景色：赤*/

  .rev_red {
    color: black;
    background-color: red;
  }
  /*文字色：黒、背景色：オレンジ*/

  .rev_orange {
    color: black;
    background-color: #ffc800;
  }
  /*文字色：黒、背景色：緑*/

  .rev_green {
    color: black;
    background-color: #00ff00;
  }